html {
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
}
body
{
    font-size:14px;
    line-height:normal;
    background:#f4f4f4;
    padding:0;
    font-family:Roboto, Helvetica, Arial, sans-serif;
}
fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.clearfix:after, .clearfix:before {
    display: table;
}
input[placeholder] {
    text-overflow: ellipsis;
}
.container {
    width: 1270px;
    padding-left:15px;
    padding-right:15px;
    margin-right:auto;
    margin-left:auto;
    max-width:none;
}
.container:after{
    clear:both;
}
button, input, select, textarea {
    font-family: inherit;
    line-height: inherit;
}
form{
    display:block;
    margin:0em;
}
a{
    text-decoration:none;
}
div{
    display:block;
}
p {
    margin: 0 0 10px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#header{
    font-family: Arial;
}
header#header a{
    text-decoration:none;
}
header#header{
    z-index:1000;
    min-width:1270px;
    display:block;
    position:relative;
}
header#header .top-promo{
     background: #1d68ab;
     height:28px;
}
#footer {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background: #fff;
    margin-top: 40px;
    min-width: 1270px;
}
.right{
    float:right;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}
.top-promo .top-label, header#header .top-promo a .top-label {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    line-height: 26px;
    display: inline-block;
    letter-spacing: .5px;
    margin: 0 0 0 15px;
    vertical-align: middle;
}
header#header .top-label i{
    color:#fdd835;
}
header#header .top-label i#down{
    color:white;
    font-size:16px;
}
header#header .header-form-container{
    background:#189eff;
    padding:20px 0 16px;
    position:relative;
    z-index:3;
    height:76px;
}
.logo{
    color: #fff;
    display: inline-block;
    vertical-align:top;
    float: left;
    margin-top: -1px;
}
.flash-sale{
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
    float: left;
    margin-left: -29px;
}
header#header .header-form-container a.logo{
    margin-right:32px;
}
.logo-icon{
    width:80px;
    height:37px;
}
.flash-sale-icon{
    width:70px;
    height:33px;
}
header#header .header-form-container .form-search{
    width:544px;
    display: inline-block;
    position: relative;
    z-index: 1;
    float: left;
}
header#header .header-form-container .search-wrap{
    display:table;
    vertical-align:middle;
    width:100%;
    z-index:1;
    position:relative;
    height:40px;
    border-radius:4px;
    background-color:white;
    box-shadow:0 1px 2px 0 rgba(98,98,98,0.5);
}
header#header .header-form-container .search-wrap .input{
    display:table-cell;
    width:calc(100% - 109px);
    max-width:none;
    float:left;
}
header#header .header-form-container .search-wrap .input .flex{
    display:flex;
}
header#header .header-form-container .search-wrap input[type=text]{
    height:40px;
    border:0px;
    font-size:13px;
    -webkit-box-flex:1;
    flex:1;
    width:229px;
    max-width:100%;
    border-radius:3px;
    padding:0 8px;
    color:#333;
    outline:0;
}
header#header .header-form-container .search-wrap button[type=submit]{
    background:#edeef2;
    padding: 0 11px 0 15px;
    display:table-cell;
    width:auto;
    float:right;
    vertical-align:top;
    color:#4a4a4a;
    height:40px;
    border:0;
    font-size:14px;
    border-radius:0 4px 4px 0;
    cursor:pointer;
    font-weight:500;
}
header#header .header-link{
    float:right;
    position:relative;
}
.top-bar-container {
    height: 50px;
    background: #189eff;
}
.top-img{
    height:50px;
    width:100%;
}
header#header .header-link .item{
    padding-left:34px;
    color: #fff;
    font-size: 12px;
    padding: 6px 0 0 30px;
    position: relative;
    vertical-align: top;
    font-weight: 400;
    line-height: 14px;
    display: inline-block;
    letter-spacing: .9px;
    margin-left:25px;
}
header#header .header-link .item:first-child{
    margin-left:0;
}
header#header .header-link .fas{
    font-size:22px;
    float:left;
    position:absolute;
    left:0px;
    top:9px;
    color:white;
}
.noti-item{
    cursor:pointer;
}
header#header .header-link .user-profile b{
    font-weight:400;
    width:90px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.user-profile{
    cursor:pointer;
}
header#header .header-link .item.header-cart {
    border: 2px solid #fff;
    padding: 8px 11px 8px 38px;
    border-radius: 4px;
    margin-left: 0;
    letter-spacing: .7px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
}
header#header .header-link .header-cart{
    display:inline-block;
}
header#header .header-link .item.header-cart span.cart-count {
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: 700;
}
header#header .header-link .fa-shopping-cart{
    font-size:18px;
    left:8px;
    top:9px;
    position:absolute;
}
header#header .main-nav{
    background:#189eff;
    height:40px;
    padding:0 0 12px;
    position:relative;
    z-index:0;
}
header#header .main-nav .main-nav-wrap{
    display:inline-block;
    position:relative;
    z-index:1000;
    vertical-align:top;
}
header#header .main-nav .main-nav-wrap .main-nav-toggle{
    display:inline-block;
    padding-left:12px;
    font-weight:400;
    font-size:13px;
    letter-spacing:.6px;
    color:#fff;
    line-height:27px;
    position:relative;
    width:229px;
}
header#header .main-nav .main-nav-wrap .main-nav-toggle .fa-bars{
    font-size:18px;
    vertical-align:middle;
}
header#header .main-nav .main-nav-wrap .main-nav-toggle .long{
    position:absolute;
    top:2px;
    padding-left:5px;
}
header#header .main-nav .main-nav-wrap>ul{
    display:block;
    padding:0;
    width:244px;
    list-style:none;
    margin:14px 0 0;
    position:absolute;
    background:#fff;
    top:40px;
    border: 1px solid #e1e1e1;
    border-radius:4px 0 0 4px;
}
header#header .main-nav .main-nav-wrap>ul>li>a {
    padding-top:4px;
    border-radius:4px 0 0 4px;
    padding:1px 5px 2px 39px;
    display:block;
    position:relative;
    line-height: 27px;
    border-left:2px solid transparent;
    margin-left:-1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    color: rgb(68, 68, 68);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    height: 100%;
    text-decoration: none;

}
header#header .main-nav .main-nav-wrap>ul>li>a>span:hover {
    color: white;
}
header#header .main-nav .main-nav-wrap>ul>li>a span.icon-wrap{
    font-size:18px;
    display:inline-block;
    position:absolute;
    top:0;
    left:5px;
    bottom:0;
    margin:auto;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub {
    padding: 14px 20px;
    display:none;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #ddd #e1e1e1;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 100%;
    background: #fff;
    margin-left: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: -2px 0 8px 0 rgba(0,0,0,.06);
    z-index: 1;
    width: 998px;
    height: 543px;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box:last-child {
    margin-bottom: 0;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-right {
    text-align: right;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box a.all{
    font-weight: 400;
    color: #007ff0;
    font-size: 13px;
    padding: 0;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li {
    padding-right: 12px;
    float: left;
    width: 25%;
    display: block;
}
header#header .main-nav .main-nav-wrap>ul>li>a:hover{
    background: #189eff;
    border-color: #189eff;
    z-index: 2;
}
header#header .main-nav .main-nav-wrap>ul>li:hover .nav-sub{
    display:block;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box a.bold, header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box>span.bold {
    font-weight: 600;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box a, header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box>span {
    line-height: 22px;
    display: block;
    color: #444;
    font-size: 13px;
    margin-right: 0;
    letter-spacing: .1px;
    font-weight: 400;
    cursor:pointer;
}
.heading{
    margin-top:14px;
}
.fa-mobile{
    padding-left:5px;
}
header#header .main-nav .main-nav-wrap>ul>li>a span{
    font-size:13px;
    letter-spacing:0;
    font-weight:400;
    color: #444;
    cursor:pointer;
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box>span:hover{
    color: #189eff; 
}
header#header .main-nav .main-nav-wrap>ul>li>.nav-sub>ul li .nav-sub-list-box a:hover{
    color: #189eff;
}
header#header .main-nav .feature{
    letter-spacing:.6px;
    color:#fff;
    font-weight:300;
    font-size:12px;
    position:relative;
    margin-left:25px;
    display:inline-block;
    vertical-align:middle;
    padding-left:38px;
    line-height:16px;
    cursor:pointer;
}
header#header .main-nav .location-picker{
    margin-left:0;
    margin-right:10px;
    position:relative;
    padding-left:31px;
    font-size:12px;
    font-weight:300;
    width:210px;
}
header#header .main-nav .feature .fa-map-marker-alt{
    position:absolute;
    font-size:18px;
    left:0;
    top:0;
    bottom:0;
    margin:auto 0;
    color:red;
    border:1px solid white;
    padding:6px;
    border-radius:90px;
    background-color:#fff;
}
header#header .main-nav .location-picker .text{
    max-height:32px;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    margin-left:5px;
}
header#header .main-nav .recently{
    margin-left:40px;
    margin-right:7px;
    position:relative;
    padding-left:0;
    font-size:13px;
}
header#header .main-nav .delivery-2h{
    margin-left:20px;
}
.fa-draft2digital{
    font-size:22px;
    display:inline-block; 
    position: absolute;
    border:1px solid white;
    border-radius:90px;
    padding:5px;
    background-color:white;
    color:red;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;  
}
.fa-medal{
    font-size:18px;
    display:inline-block;
    color:#ff6a00;
    border: 1px solid white;
    border-radius:90px;
    background-color:white;
    padding:5px;
    padding-top: 7px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.fa-reply{
    font-size:18px;
    display:inline-block;
    padding:5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
header#header .main-nav .return{
    position:absolute;
    line-height:24px;
}
div#home-banner{
    float:right;
    display:table;
    margin-top:14px;
    border-radius:0 4px 4px 0;
    overflow:hidden;
    border-bottom:0;
    border-right:0;
    z-index:1;
    position:relative;
    background:#e4e4e4;
}
div#home-banner .left{
    width:584px;
    float:left;
}
div#home-banner .left .slider-wrap{
    width:100%;
    height:362px;
    overflow:hidden;
    position:relative;
}
.swiper-container{
    margin:0 auto;
    position:relative;
    overflow:hidden;
    z-index:1;
}
.swiper-wrapper{
    position:relative;
    width:100%;
    height:100%;
    z-index:1;
    display:flex;
}
.swiper-slide{
    flex-shrink:0;
    position:relative;
    width: 584px;
    height: auto;
}
div#home-banner .left .slider-wrap .swiper-pagination, div#home-banner .sticky-screen-banner.right .slider-wrap .swiper-pagination {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
.swiper-button-prev, .swiper-button-next {
    border:1px solid white;
    background-size:12px!important;
    background-color:white;
    border-radius:90px;
    padding:5px;
}
#sticky-banner{
    position:fixed;
    left:0;
    right:0;
    top:209px;
    margin:auto;
    z-index:2;
}
#sticky-banner .banners .left{
    position:absolute;
    left:-70px;
}
#sticky-banner .banners .right{
    position:absolute;
    right:-70px;
}

div#home-banner .left .slider-wrap img{
    width:100%;
}
div#home-banner .sub-banner-wrap .sub-item{
    float:left;
    width:50%;
    height:181px;
    overflow:hidden;
    background:#94BFFF;
}
div#home-banner .sub-banner-wrap .sub-item a{
    display:inline-block;
}
div#home-banner .sub-banner-wrap .sub-item img{
    width:100%;
    float:left;
}
div#home-banner .right{
    width:412px;
    float:left;
}
div#home-banner .mini-banner-wrap .mini-item{
    border-top:0;
    height:181px;
    width:206px;
    float:left;
    overflow:hidden;
}
div#home-banner .mini-banner-wrap .mini-item a{
    display:inline-grid;
}
div#home-banner .mini-banner-wrap .mini-item img{
    width:100%;
    float:left;
}
.home-primary-banner{
    display:flex;
    padding-top:20px;
}
.home-primary-banner .pair-banner:first-child{
    margin-left:0;
}
.home-primary-banner .pair-banner{
    width:295px;
    height:150px;
    margin-left:25px;
    border-radius:3px;
    overflow:hidden
}
.img-responsive{
    display:block;
    height:auto;
    max-width:100%;
}




.tiki-deal-header {
    margin-top: 40px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 17px 10px 17px 66px;
    background-size: 48px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
}
.tiki-deal-header .icon-deal {
    position: absolute;
    top: 13px;
    left: 10px;
    background-position: -95px -200px;
    width: 48px;
    height: 48px;
}
.tiki-deal-header .text {
    font-size: 13px;
    margin-top: 3px;
    color: #4a4a4a;
}
.tiki-deal-header .title {
    color: #ff3d00;
    font-size: 18px;
    font-weight: 500;
}
.loader-area{
    position: relative;
}
.flex-container {
    display: flex;
    position: relative;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.product-listing {
    flex: 1;
    min-height: 528px;
    background: #fff;
}
.deal-item .image .discount-badge {
       position: absolute;
    top: 15px;
    left: 25px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 4px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 40px;
    height: 36px;
    background-image: url(https://frontend.tikicdn.com/_new-next/static/img/icons/product/deal-tag.png);
    background-size: 40px 36px;
    margin: 1px 0px 0px;
    background-position: 0px 0px;
}
.flex-container .product-listing .items{
        display: flex;
        flex-wrap: wrap;
}
.deal-item {
    color: #242424;
    display: inline-block;
    padding: 16px 20px;
    margin-bottom: 20px;
    width: 20%;
}
.deal-item .image {
    position: relative;
    min-height: 200px;
    padding-top: 36px;
}
.deal-item .title {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.54;
    color: #242424;
    overflow: hidden;
    height: 40px;
}
.deal-item .image .icon, .deal-item .image .tikicon {
   width: 53px;
    height: 25px;
    display: inline-block;
    margin-bottom: -10px;
}
.deal-item .price-sale {
    font-size: 15px;
    color: #242424;
    font-weight: 600;  
    padding: 0;
    text-align: left;
}
.deal-item .price-sale .price-regular {
    font-size: 11px;
    color: #a2a2a2;
    text-decoration: line-through;
    text-align: left;
    font-weight: 300;
    margin-left: 8px;
}
.deal-item .deal-status {
    color: #000;
    margin-top: 11px;
    font-weight: 300;
    min-height: 22px;
    display: flex;
}
.deal-item .deal-status .process-bar {
    height: 18px;
    display: block;
    width: 111px;
    background: #FDDAC8;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 8px;
    position: relative;
}
.deal-item .deal-status .process-bar div {
    min-width: 2px;
    background: #FD6E23;
    height: 100%;
}
.deal-item .deal-status .process-bar .text {
    font-size: 12px;
    position: absolute;
    color: #fff;
    top: 2px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.deal-item .deal-status .started {
    font-size: 9px;
    display: flex;
    white-space: nowrap;
    font-weight: 400;
    text-align: right;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.deal-item .deal-status .started>* {
    flex: 1;
}
.deal-item .deal-status .time {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.fa-star {
    font-family: icomoon;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: .1rem;
    color: #b8b8b8;
    text-rendering: auto;
    font-size: 12px;
}
.deal-item .rating+.review {
    margin-left: 5px;
    padding-top: 8px;
    font-size: 11px;
    color: #787878;
    display: inline-block;
}

.home-carousel-top-block{
    margin-top:40px;
    margin-bottom:20px;
    display:block
}
.home-carousel-top-block h4{
    font-weight:400;
    margin-top:10px;
    text-transform:uppercase;
    font-size:18px;
}
.personal-categories{
    position:relative;
    border-radius:4px;
}
.personal-categories a{
    background:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#444;
    line-height:20px;
    padding:16px;
    font-size:13px;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
}
.personal-categories a img{
    width:96px;
}
.personal-categories a span{
    margin-top:12px;
}
.personal-keyword{
    overflow:hidden;
    white-space:nowrap;
    position:relative;
}
.personal-keyword a{
    line-height:28px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#fff;
    font-weight:300;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:16px;
    font-size:13px;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
}
.personal-keyword a span{
    line-height:20px;
    white-space:initial;
}
.home-recently-list{
    display:flex;
    flex-wrap:wrap;
    background:#fff;
    border-radius:4px;
}
.product-item{
    display:block;
    padding:0 0 25px;
    border:1px solid #fff;
    position:relative;
    width:248px;
    max-width:100%;
}
.product-item > a{
    display:block;
    width:200px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}
.product-item .image {
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 33px;
    text-align: center;
    background: #fff;
    height: 233px;
    white-space: nowrap;
}
.product-item .image img {
    border: none;
    position: relative;
    width: 100%;
    max-width: 200px;
}
.product-item .title {
    text-overflow: ellipsis;
    position: relative;
    text-align: left;
    margin: 15px auto 0;
    letter-spacing: .1px;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: #242424;
    max-height: 40px;
    overflow: hidden;
}
.product-item .price-sale {
    font-size: 13px;
    color: #242424;
    font-weight: bold;
    padding: 10px 0 0;
    text-align: left;
}
.product-item .price-sale .price-regular {
        font-size: 11px;
        color: #a2a2a2;
        text-decoration: line-through;
        text-align: left;
        font-weight: 300;
    }
    .sale-tag-square, .product-item .sale-tag-square {
        color: #FF3B26;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        margin-left: 2px;
    }
.rating{
    padding:11px 0 0;
    font-size:12px;
    display:inline-block;
}
.product-item p{
    padding:5px 0 0;
    color:#777;
    font-size:13px;
    text-align:left;
    margin:0;
}
.rating-content{
    line-height:1;
    display:inline-block;
}
.review {
    padding-top: 8px;
    font-size: 12px;
    color: #787878;
    display: inline-block;
    margin-left:10px;
}
.text-center{
    text-align:center;
    background:rgb(255, 255, 255);
}
.recently-see-all{
    text-align:center;
    font-size: 13px;
    color: #189eff;
    border: 1px solid;
    padding: 7px 16px;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: none;
    width: auto;
    display: inline-block;
    margin: 20px 0;
    min-width: 200px;
    cursor:pointer;
}
.recently-see-all:hover{
    background-color:#189eff;
    color:white;
    transition: all 0.5s ease-in;
}
.tiki-newsletter {
    background: #f7f7f7;
    height: 100px;
    margin-top: 20px;
}
.col-lg-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.tiki-newsletter .tiki-newsletter-title {
    float: left;
    width: 545px;
    margin-right: 30px;
}
.icon-newsletter{
    float: left;
    margin-right: 20px;
    margin-top: -20px;
    background-position: 0 0;
    width: 163px;
    vertical-align: middle;
    height: 99px;
}
.tiki-newsletter .tiki-newsletter-title h3 {
    color: #4e5052;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 30px;
}
.tiki-newsletter .tiki-newsletter-title h5 {
    font-size: 13px;
    color: #4e5052;
    margin-bottom: 0;
    margin-top: 5px;
}
.tiki-newsletter .mc-field-group {
    float: left;
    width: 345px;
    margin-right: 10px;
    margin-top: 35px;
}
.form-control {
    font-size: 13px;
    box-shadow: none;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.42857;
    color: #555;
    display: block;
}
.tiki-newsletter .button {
    background: #00afef;
    color: #fff;
    margin-top: 35px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    user-select: none;
}
.line-bg-body {
    border: none;
    border-top: 1px solid #f7f7f7;
    width: 100%;
    height: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width:226px;
}
.footer-nav .hotline-number {
    color: #c4011a;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-nav .hotline-number a {
    color: inherit;
}
.footer-nav .hotline-number small {
    color: #333;
    font-weight: 400;
    font-size: 12px;
}
.footer-nav .nav-list a {
    margin-bottom: 11px;
    display: block;
    color: #333;
    font-size: 12px;
}
.footer-nav .nav-other {
    overflow: hidden;
}
.footer-nav:last-child {
    margin-right: 0;
}
.footer-nav h4 {
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 0 17px;
    font-stretch: normal;
}
.footer-nav .appstore-title {
    margin-top: 36px;
}
.footer-nav .nav-other {
    overflow: hidden;
}
.footer-nav .nav-other a, .footer-nav .nav-other span {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
}
.tiki-appstore{
    display: inline-block;
    float: left;
    margin-right: 10px;
    background-position: -125px -104px;
    width: 134px;
    height: 40px;
    vertical-align: middle;
}
.tikicon-payment{
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
    width: 54px;
    height: 33px;
}
.tikicon-social{
    width: 40px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
}
.footer-address {
    padding-top: 15px;
    padding-bottom: 5px;
    font-style: normal;
    line-height: 1.42857;
    margin-bottom: 20px;
}
.footer-address .address-office{
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.fa-map-marker-alt{
    margin-top:10px;
    font-size:50px;
    color:gray;
}
.footer-address .info-address {
    width: 492px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}
.footer-address .info-address p.add-real {
    color: #333;
    font-weight: 400;
    font-size: 12px;
}
.footer-address .info-address p {
        font-style: normal;
        font-size: 11px;
        color: #4a4a4a;
        margin-bottom: 1px;
        line-height: 22px;
        font-weight: 300;
}
.footer-address .address-service {
    margin-left: 30px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.footer-address .info-address p a {
    color: #007ff0;
    font-size: 11px;
}
.footer-address .info-address p .number {
    color: #333;
    font-weight: 600;
}
.footer-cpy-right {
    padding: 15px 0 0;
}
.footer-cpy-right .cpy-right-info {
    display: inline-block;
    color: #333;
}
.footer-cpy-right .cpy-right-info h5 {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 600;
}
.footer-cpy-right .cpy-right-info p {
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 8px;
}
.icon-copy {
    display: inline-block;
    float: right;
    margin-top: -8px;
    background-position: 0 -104px;
 /*   width: 120px;*/
    height: 46px;
}

.bo-cong-thuong-2-copy{
    display: inline-block;
    margin-top: -8px;
    float: right;
    height: 36px;
    background-position: 0 -40px;
}
.tiki-now{
    margin-right: -60px;
    border-radius: 10px 10px 10px 10px;
    vertical-align: middle;
    margin-left: 20px;
}
.img-items{
    width:200px; 
    display:inline;
}
.swiper-slide-active {
    width: 190px; height: auto; margin-right: 20px;
}
.process-bar0per{
    width: 0%;
}
.process-bar692per{
    width: 69.2%;
}
.process-bar75per{
    width: 75%;
}
.process-bar0per{
    width: 8.6%;
}
.swiper-slide-swiper-slide-active-personal1{
    background:rgb(94, 85, 69); width:140px;height:auto;margin-right:16px;
}
.swiper-slide-swiper-slide-active-personal2{
    background: rgb(151, 78, 6); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal3{ 
    background: rgb(0, 109, 144); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal4{
    background: rgb(153, 108, 0); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal5{
    background: rgb(0, 109, 144); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal6{ 
    background: rgb(92, 10, 107); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal7{
    background: rgb(92, 10, 107); width: 140px; height: auto; margin-right: 16px;
}
.swiper-slide-swiper-slide-active-personal8{
    background: rgb(22, 112, 46); width: 140px; height: auto; margin-right: 16px;
}
.fastaryellow{
    color: #ffc120;
}
